<header class="relative bg-white">
  <nav aria-label="Top" class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div
      class="relative border-b border-gray-200 px-4 pb-14 sm:static sm:px-0 sm:pb-0"
    >
      <div class="flex h-16 items-center justify-between">
        <!-- Logo -->
        <div class="flex flex-1">
          <a [routerLink]="'/'">
            <span class="sr-only">Logo</span>
            <img class="h-8 w-auto" src="../../../assets/logo.png" alt="Logo" />
          </a>
        </div>

        <div
          class="absolute inset-x-0 bottom-0 overflow-x-auto border-t sm:static sm:border-t-0"
        >
          <div class="flex h-14 items-center space-x-8 px-4 sm:h-auto">
            <a
              [routerLink]="'/'"
              class="text-sm font-semibold text-gray-700 hover:text-gray-800"
              >Home</a
            >
            <a
              [routerLink]="'/products'"
              class="text-sm font-semibold text-gray-700 hover:text-gray-800"
              >Products</a
            >
            <a
              [routerLink]="'/categories'"
              class="text-sm font-semibold text-gray-700 hover:text-gray-800"
              >Categories</a
            >
            <a
              [routerLink]="'/dashboard'"
              class="text-sm font-semibold text-gray-700 hover:text-gray-800"
              >Dashboard</a
            >
          </div>
        </div>

        <div class="flex flex-1 items-center justify-end space-x-1">
          <!-- Theme Button -->
          <button
            class="p-2 text-gray-400 hover:text-gray-500 flex items-center"
          >
            <span class="sr-only">Theme</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
              />
            </svg>
          </button>

          <!-- Cart Button -->
          <div class="flow-root text-sm lg:relative">
            <button
              (click)="toggleCart()"
              type="button"
              class="group flex items-center p-2 text-gray-400 hover:text-gray-500"
              aria-expanded="false"
            >
              <svg
                class="h-6 w-6 flex-shrink-0"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                />
              </svg>
              <span
                class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"
              >
                {{ cartTotalProducts$ | async }}
              </span>
              <span class="sr-only">items in cart, view bag</span>
            </button>
          </div>

          <ng-container *ngIf="user$ | async as user; else signIn">
            <button
            (click)="signOut()"
              class="rounded-md border border-transparent py-2 px-4 text-center text-sm transition-all text-slate-600 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
              type="button"
            >
              Sign out
            </button>
          </ng-container>

          <ng-template #signIn>
            <a href="/sign-in">
              <button
                class="rounded-md border border-transparent py-2 px-4 text-center text-sm transition-all text-slate-600 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
                type="button"
              >
                Sign in
              </button>
            </a>
          </ng-template>
          <!--
                Entering: "transition ease-out duration-200"
                  From: "opacity-0"
                  To: "opacity-100"
                Leaving: "transition ease-in duration-150"
                  From: "opacity-100"
                  To: "opacity-0"
              -->
          <ng-container
            *ngIf="(cartProducts$ | async)!.length > 0; else emptyCart"
          >
            <div
              [ngClass]="{ hidden: !isCartOpen }"
              class="absolute inset-x-0 top-16 mt-px bg-white pb-6 shadow-lg sm:px-2 lg:left-auto lg:right-0 lg:top-full lg:-mr-1.5 lg:mt-3 lg:w-80 lg:rounded-lg lg:ring-1 lg:ring-black lg:ring-opacity-5"
            >
              <h2 class="sr-only">Shopping Cart</h2>

              <form class="mx-auto max-w-2xl px-4">
                <ul role="list" class="divide-y divide-gray-200">
                  <li
                    *ngFor="let product of cartProducts$ | async"
                    class="flex items-center py-6"
                  >
                    <img
                      [src]="product.thumbnail"
                      alt="{{ product.description }}"
                      class="h-16 w-16 flex-none rounded-md border border-gray-200"
                    />
                    <div class="ml-4 flex-auto">
                      <div class="flex items-center justify-between">
                        <h3 class="font-medium text-gray-900">
                          <a [routerLink]="'/products/' + product._id">
                            {{ product.title }}
                          </a>
                        </h3>
                        <!-- Delete Icon -->
                        <button
                          (click)="removeFromCart(product._id)"
                          class="text-gray-400 hover:text-red-500"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-5 w-5"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"
                            />
                          </svg>
                          <span class="sr-only"
                            >Remove {{ product.title }}</span
                          >
                        </button>
                      </div>
                      <p class="text-gray-500">
                        ${{ product.price }}
                        <!-- Display Quantity -->
                        <span class="ml-4 text-gray-500"
                          >Qty: {{ product.quantity }}</span
                        >
                      </p>
                    </div>
                  </li>
                </ul>

                <button
                  type="submit"
                  (click)="handlePayment()"
                  class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
                >
                  Pay ${{ cartTotalPrice$ | async | number : "1.2-2" }}
                </button>
              </form>

              <p class="mt-6 text-center">
                <button
                  (click)="clearCart()"
                  class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
                >
                  Clear Cart
                </button>
              </p>
            </div>
          </ng-container>

          <ng-template #emptyCart>
            <div
              [ngClass]="{ hidden: !isCartOpen }"
              class="absolute inset-x-0 top-16 mt-px bg-white pb-6 shadow-lg sm:px-2 lg:left-auto lg:right-0 lg:top-full lg:-mr-1.5 lg:mt-3 lg:w-80 lg:rounded-lg lg:ring-1 lg:ring-black lg:ring-opacity-5"
            >
              <h2 class="sr-only">Shopping Cart</h2>
              <div class="px-4 py-6">
                <p class="text-center text-gray-500">Your cart is empty</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
</header>
