<div class="bg-white">
  <ng-container *ngIf="(products$ | async)!.length > 0; else emptyCart">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
      <h1
        class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Shopping Cart
      </h1>

      <form class="mt-12">
        <section aria-labelledby="cart-heading">
          <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

          <ul
            role="list"
            class="divide-y divide-gray-200 border-b border-t border-gray-200"
          >
            <li *ngFor="let product of products$ | async" class="flex py-6">
              <div class="flex-shrink-0">
                <img
                  [src]="product.thumbnail"
                  alt="{{ product.title }}"
                  class="h-24 w-24 rounded-md object-cover object-center sm:h-32 sm:w-32"
                />
              </div>

              <div class="ml-4 flex flex-1 flex-col sm:ml-6">
                <div>
                  <div class="flex justify-between">
                    <h4 class="text-sm">
                      <a
                        [routerLink]="'/products/' + product._id"
                        class="font-medium text-gray-700 hover:text-gray-800"
                      >
                        {{ product.title }}
                      </a>
                    </h4>
                    <p class="ml-4 text-sm font-medium text-gray-900">
                      ${{ product.price }}
                    </p>
                  </div>
                  <p class="mt-1 text-sm text-gray-500">{{ product.brand }}</p>
                  <p class="mt-1 text-sm text-gray-500">
                    Quantity: {{ product.quantity }}
                  </p>
                </div>

                <div class="mt-4 flex flex-1 items-end justify-between">
                  <p class="flex items-center space-x-2 text-sm text-gray-700">
                    <span>{{ product.availabilityStatus }}</span>
                  </p>
                  <div class="ml-4">
                    <button
                      type="button"
                      (click)="removeFromCart(product._id)"
                      class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
                    >
                      <span>Remove</span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <!-- Order summary -->
        <section aria-labelledby="summary-heading" class="mt-10">
          <h2 id="summary-heading" class="sr-only">Order summary</h2>

          <div>
            <dl class="space-y-4">
              <div class="flex items-center justify-between">
                <dt class="text-base font-medium text-gray-900">Subtotal</dt>
                <dd class="ml-4 text-base font-medium text-gray-900">
                  ${{ cartTotalPrice$ | async | number : "1.2-2" }}
                </dd>
              </div>
            </dl>
            <p class="mt-1 text-sm text-gray-500">
              Shipping and taxes will be calculated at checkout.
            </p>
          </div>

          <div class="mt-10">
            <button
              type="submit"
              (click)="handlePayment()"
              class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
              Checkout ${{ cartTotalPrice$ | async | number : "1.2-2" }}
            </button>
          </div>

          <div class="mt-6 text-center text-sm">
            <p>
              or
              <a
                [routerLink]="'/products'"
                class="font-medium text-indigo-600 hover:text-indigo-500"
              >
                Continue Shopping
                <span aria-hidden="true"> &rarr;</span>
              </a>
            </p>
          </div>
        </section>
      </form>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
      <h1
        class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Shopping Cart
      </h1>
      <div class="mt-12">
        <p class="text-center text-sm text-gray-500">Your cart is empty</p>
        <div class="mt-6 text-center">
          <a
            [routerLink]="'/products'"
            class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
            >Continue Shopping</a
          >
        </div>
      </div>
    </div>
  </ng-template>
</div>
